<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Session</title>
    <link rel="stylesheet" href="css/workoutsliststyles.css">
  </head>
  <body>
    <header>
      <div class="div-form">
        <form class="" action="/session" method="post">
          <button id="btn-quit" type="submit" name="button">Quit</button>
        </form>
      </div>

      <div class="div-h1">
        <h1 class="h1-header" >Your workouts</h1>
      </div>
    </header>
  <main>
    <div id="div-session-workouts">

    </div>
  </main>
    <script type="module" src="../js/session.js"></script>
  </body>
</html>
