.form-generate {
  display: inline-block;
}

.label-1-2 {
  margin-left: 50px;
}

.input-time {
  width: 40px;
}

#select-muscles {
  height: 18.8px;
  vertical-align: top;
}

#btn-generate {
  margin-left: 20px;
}
